body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    margin: 0 0 1.5rem;
    text-align: center;
}
section {
    background-color: #d7d9dc;
    border-radius: .5rem;
    box-shadow: 0 8px 24px -16px rgba(0, 0, 0, 0.5);
    margin: 1.5rem auto;
    max-width: 25rem;
    padding: 2rem;
    border: 1.5px solid #000;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1.25rem;
    margin-bottom: .5rem;
}
input {
    
    border-radius: .25rem;
    font-size: 1rem;
    padding: .5rem;
}
span {
    color: #f64348;
    font-size: .75rem;
    margin: .25rem;
}
button {
    background-color: #43a5f6;
    border: 2px solid #3b90d6; 
    border-radius: .50rem;
    font-size: 1rem;
    margin-top: 2rem;
    padding: .7rem 0;
    font-weight: bold;
}
button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}
.error {
    border: 1px solid #f64348;
}
.success {
    border: 1px solid #43f67f;
}